ul{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.menuBurger{
    height: 50px;
    display: none;
}

.bgHeader{
    height: 25vh;
    background-image: url(../img/bg_header.jpg);
    background-size: cover;
    background-position: center;
}

/* Format téléphone */
@media screen and (max-width: 550px){
    h1 { display: none;}
    ul { display: none;}

    .menuBurger { 
    height: 25px;
    display: flex;
    justify-content: flex-end;}
}

/* Format tablette */
@media screen and (min-width: 551px) and (max-width: 800px) {
    ul {display: none;}
    .bgHeader { background-image: url(../img/bg_footer.jpg);}
    
    .menuBurger { 
        height: 50px;
        display: flex;
        justify-content: flex-end;}
}

/* Format ordinateur */
@media screen and (min-width: 801px)
{
    .menuBurger { display: none; }
    
}